/* Fonts */
@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-regular-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-regular-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-italic-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-italic-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-bold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-bold-webfont.woff") 
        format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-extrabold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-extrabold-webfont.woff") 
        format("woff");
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: "Inter";
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* Page layout */
.page-wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
    grid-template: 20% 80% / 250px 100%;
    background-color: grey;
}

.header {
    grid-area: 1 / 2 / 1 / -1;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 1;
    padding: 35px;
    padding-top: 0px;
}

.content {
    grid-area: 2 / 2;
}

/* Add colorful border to left side of content-card */


.icon {
    width: 35px;
    height: 35px;
}

/* Navbar structure */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    display: grid;
    grid-template:  1fr 0.5fr repeat(6, 44px) 0.5fr repeat(4, 44px) 3fr / 15% 85%; 
    column-gap: 15px;
    align-items: center;
    justify-content: right;
    height: 75%;
}

#sidebar-big-logo {grid-area: 1 / 1 / 1 / 2;}
#sidebar-title {grid-area: 1 / 2 / 1 / -1;}

#logo-home {grid-area: 3 / 1 / 4 / 1;}
#link-home {grid-area: 3 / 2 / 4 / 2;}

#logo-profile {grid-area: 4 / 1 / 5 / 1;}
#link-profile {grid-area: 4 / 2 / 5 / 2;}

#logo-msgs {grid-area: 5 / 1 / 6 / 1;}
#link-msgs {grid-area: 5 / 2 / 6 / 2;}

#logo-history {grid-area: 6 / 1 / 7 / 1;}
#link-history {grid-area: 6 / 2 / 7 / 2;}

#logo-tasks {grid-area: 7 / 1 / 8 / 1;}
#link-tasks {grid-area: 7 / 2 / 8 / 2;}

#logo-comm {grid-area: 8 / 1 / 9 / 1;}
#link-comm {grid-area: 8 / 2 / 9 / 2;}

#logo-settings {grid-area: 10 / 1  / 11 / 1;}
#link-settings {grid-area: 10 / 2  / 11 / 2;}

#logo-support {grid-area: 11 / 1  / 12 / 1;}
#link-support {grid-area: 11 / 2  / 12 / 2;}

#logo-privacy {grid-area: 12 / 1  / 13 / 1;}
#link-privacy {grid-area: 12 / 2  / 13 / 2;}
/* Navbar styling */

.sidebar {
    background-color: #4F3C80;
    color: white;
}

.sidebar-link {
    font-size: 19px;
}

#sidebar-title {
    cursor: default;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration-line: underline;
}

#sidebar-big-logo {
    height: 50px;
    width: 40px;
    align-self: left;
    filter: invert();
}

.sidebar-logo {
    width: 25px;
    filter: invert();
}

/* Header structure */

.header {
    display: grid;
    background-color: white;
    margin:0;
    padding: 5px 30px;
    width: 100%;
    grid-template: 30% 75% / 85%;
    gap: 10px;
}

.header-top {
    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    grid-template: 100% / 80px 70% 2fr 8% 25%;
    justify-items: right;
    align-items: center;
}

.icon-search {grid-area: 1 / 1 / 1 / 2;}
#search {grid-area: 1 / 2 / 1 / 3;}

.icon-bell {grid-area: 1 / 3 / 1 / 4;}
.pfp {grid-area: 1 / 4 / 1 / 5;}
.username{grid-area: 1 / 5 / 1 / 6}

.header-bottom {
    grid-area: 2 / 1 / 2 / 1;
    display: grid;
    background-color: blue;
}

/* To do: Create structure for header bottom
 Make .greetings flexbox column
 */

/* Header style */

.icon-search {
    padding-right: 25px;
}

.searchbar {
    justify-self: left;
    width:100%;
}
#search {
    width: 90%;
}

input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    height: 30px;
    border: solid 1px #DDDDDD;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #EEEEEE;
    font-size: 16px;
}

input[type=text]:focus {
    outline: none;
    background-color: #DDDDDD;
}

.pfp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.username {
    justify-self: left;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA1C66;
    border-radius: 20px;
    font-weight: bold;
    transition: transform .1s;
    width: 60px;
}

a.header-button:hover {
    transform: scale(1.10);
}

.header-button {
    white-space:nowrap;
    padding: 7px 26px 7px 26px;
}

a.header-button {
    color: white;
    font-size:18px;
    text-decoration:none;
}

.icon-bell {
    width: 28px;
    height: 28px;
}
