/* Fonts */
@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-regular-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-regular-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-italic-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-italic-webfont.woff") 
        format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-bold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-bold-webfont.woff") 
        format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: 
        url("fonts/inter-extrabold-webfont.woff2") 
        format("woff2"),
        url("fonts/inter-extrabold-webfont.woff") 
        format("woff");
    font-weight: 800;
    font-style: normal;
}

/* Bell Animation */
.icon-bell:hover {
-webkit-animation: ring 5s .2s ease-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 5s .2s ease-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 5s .2s ease-out infinite;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
/* */

body {
    font-family: "Inter";
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* Page layout */
.page-wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100vw;
    grid-template: 200px 81% / 250px 1fr 350px;
    background-color: #E3E2F0;
}

.header-sidebarOpen {
    grid-area: 1 / 2 / 1 / -1;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 1;
    padding: 35px;
}

.center-content-sidebarOpen {
    grid-area: 2 / 2 / -1 / 3;
}

#center-content {
    display: grid;
    grid-template: 5% 90% 5% / 100%;
}

.right-content {
    grid-area: 2 / 3 / -1 / 4;
}

.icon {
    width: 35px;
    height: 35px;
}

/* Navbar structure */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    display: grid;
    grid-template:  1fr 0.5fr repeat(6, 44px) 0.5fr repeat(4, 44px) 3fr / 15% 85%; 
    column-gap: 15px;
    align-items: center;
    justify-content: right;
    height: 75%;
}

#logo-dashboard {grid-area: 1 / 1 / 1 / 2;}
#sidebar-title {grid-area: 1 / 2 / 1 / -1;}

#logo-home {grid-area: 3 / 1 / 4 / 1;}
#link-home {grid-area: 3 / 2 / 4 / 2;}

#logo-profile {grid-area: 4 / 1 / 5 / 1;}
#link-profile {grid-area: 4 / 2 / 5 / 2;}

#logo-msgs {grid-area: 5 / 1 / 6 / 1;}
#link-msgs {grid-area: 5 / 2 / 6 / 2;}

#logo-history {grid-area: 6 / 1 / 7 / 1;}
#link-history {grid-area: 6 / 2 / 7 / 2;}

#logo-tasks {grid-area: 7 / 1 / 8 / 1;}
#link-tasks {grid-area: 7 / 2 / 8 / 2;}

#logo-comm {grid-area: 8 / 1 / 9 / 1;}
#link-comm {grid-area: 8 / 2 / 9 / 2;}

#logo-settings {grid-area: 10 / 1  / 11 / 1;}
#link-settings {grid-area: 10 / 2  / 11 / 2;}

#logo-support {grid-area: 11 / 1  / 12 / 1;}
#link-support {grid-area: 11 / 2  / 12 / 2;}

#logo-privacy {grid-area: 12 / 1  / 13 / 1;}
#link-privacy {grid-area: 12 / 2  / 13 / 2;}

/* Collapsing Navbar */

.hidden {
    position: absolute;
    left: -99999px;
    top: -99999px;
    visibility: hidden;
}

.header-sidebarClosed {
    grid-area: 1 / 1 / 1 / -1;
}

.center-content-sidebarClosed {
    grid-area: 2 / 1 / -1 / 3;
}

.sidebar-open, .sidebar-collapse {
    border: none;
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    background-color: #4F3C80;
    border-radius: 100%;
    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;
    padding: 10px;
}

.sidebar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 220px;
}
.sidebar-open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 5px;
}

/* Change color on hover and activate*/
.sidebar-btn:hover {
    filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(93%) contrast(94%);
}

.sidebar-btn:active {
    filter: brightness(0) saturate(100%) invert(45%) sepia(1%) saturate(0%) hue-rotate(175deg) brightness(98%) contrast(85%);
}


/* Navbar styling */

.sidebar {
    background-color: #4F3C80;
    color: white;
}

.sidebar-link {
    font-size: 19px;
}

#sidebar-title {
    cursor: default;
}

.sidebar-content a {
    height: 100%;
    display: flex;
    align-items: center;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration-line: underline;
}

.sidebar-big-logo {
    height: 50px;
    width: 40px;
    align-self: left;
    filter: invert();
}

.sidebar-logo {
    width: 30px;
    align-self: center;
    filter: invert();
}

/* Header structure */

.header {
    display: grid;
    background-color: white;
    color: #2B2A33;
    margin: 0;
    padding: 15px 30px;
    width: 100%;
    grid-template: 40% 60% / 100px 3fr 2fr;
    gap: 10px;
    padding-bottom: 25px;
    box-shadow: 0px 1px 5px #9897A1;
}

/* Header left side*/
.icon-search {grid-area: 1 / 1 /  2 / 2;}
.pfp-big {grid-area: 2 / 1 / -1 / 2;}

/* Header center */
#search {grid-area: 1 / 2 / 2 / 3;}
.greetings {grid-area: 2 / 2 / 3 / 3;}

/* Header right top */
.header-right-top {
    grid-area: 1 / 3 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Header style */

.icon-search {
    height: 35px;
    width: 35px;
    justify-self: right;
    align-self: center;
}

.searchbar {
    justify-self: left;
    align-self: center;
    width:100%;
}
#search {
    width: 90%;
}

input[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    height: 30px;
    border: solid 1px #DDDDDD;
    border-radius: 20px;
    padding-left: 20px;
    background-color: #EEEEEE;
    font-size: 16px;
}

input[type=text]:focus {
    outline: none;
    background-color: #DDDDDD;
}

.pfp-big {
    height: min(100%, 80px);
    aspect-ratio: 1/1;
    object-fit: cover;
    align-self: center;
    justify-self: right;
    border-radius: 100%;
}

.greetings {
    line-height: 1rem;
    text-wrap: nowrap;
    cursor: default;
}

.icon-bell {
    justify-self: center;
    margin-right: 15px;
    width: 28px;
    height: 28px;
}

.pfp {
    height: 55px;
    width: 55px;
    margin-right: 15px;
    object-fit: cover;
    justify-self: center;
    border-radius: 100%;
}

.username {
    justify-self: left;
    font-size: 24px;
    cursor: default;
}

.header-right-bottom {
    display: flex;
    align-items: center;
    margin-top: 29px;
    gap: 5%;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #218635;
    border-radius: 15px;
    font-weight: bold;
    transition: transform .1s;
    height: 25px;
    width: 50px;
}

a.header-button:hover {
    transform: scale(1.1);
}

.header-button {
    white-space:nowrap;
    padding: 7px 26px 7px 26px;
}

a.header-button {
    color: white;
    font-size:18px;
    text-decoration:none;
}

/* Content title */

.content-title {grid-area: 1 / 1 / 2 / 2;}

.announce-title {grid-area: 1 / 2 / 2 / 3;}

/* Right structure */
.right-content {
    display: grid;
    gap: 15px;
    padding-right: 20px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #E3E2F0;
    grid-template: 1.5rem 300px 1.5rem 2fr / 100%;
}
.announce-title {grid-area: 1 / 1 / 2 / 2}
.announce-card {grid-area: 2 / 1 / 3 / 2;}
.trend-title {grid-area: 3 /  1  / 4 / 2;}
.trend-cards {grid-area: 4 / 1  / 5  / 2;}

/* Content header styling */


.content-title, .announce-title, .trend-title {
    font-size: 22px;    
    font-weight: 600;
}

/* Center content */

#center-content {
    gap: 15px;
    padding-left: 15px;
    margin-top: 15px;
}

.grid-cards {
    grid-area: 2 / 1 / 3 / 2;
    height: 95%;
    width: 100%;

    display: grid;
    grid-template: repeat(6, 400px) / 50% 50%;
    overflow: scroll;
    scroll-behavior: smooth;
    justify-items: center;
    padding-top: 20px;
    gap: 30px;
}

.card {
    width: max(300px, 80%);
    background-color: #FBFBFB;
    border-radius: 10px;
    border-left: 5px solid #399ED9;
    box-shadow: 0px 1px 6px #9897A1;
}

/* Right content */
.announce-card, .trend-cards {
    width: 85%;
    padding: 20px;
    background-color: #FBFBFB;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 1px 6px #9897A1;
}

.announce-card h3 {
    font-size: 1.05rem;
    text-wrap: nowrap;
    margin: 0px;
}

.announce-card p {
    width: 95%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.85rem;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

.trend-cards {
    display: grid;
    grid-template: repeat(4, 60px) / 55px 80%;
    grid-auto-rows: 60px;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
}

 .pfp,.user .atUser, .user .user-subtext {
    cursor: pointer;
}

.user .user-subtext {
    color: #656565;
}

/* Small screen  */
@media only screen and (max-width: 1250px) {
    .grid-cards {
        display: grid;
        grid-template: 1fr / 90%;
        overflow: scroll;
    }

    .card {
        width: 90%;
        height: 400px;
    }
}
